.carousel-item{
    padding: 0 5%;
}
.my-caption{
    bottom: 200px;
    background-color: rgba(94, 158, 166, 0.4);
    color: #ffffff;
    padding-left: 20px ;
    padding-right: 20px ;
}
.p-size{
    font-size: 0.9rem;
}
.pb-size{
    font-size: 0.7rem;
}

.h-200{height: 200px;}
.h-50{height: 50px;}
.h-550{height: 550px;}
.h-300{height: 300px;}
.h-157{height: 157px;}
